* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;

  background-color: #f5f5f5;
}

.header {
  background-color: #f7146b;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.country-card {
  background-color: #c4c4c4;
  border-radius: 0.5rem;
  border: 1px solid #575757;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}
